body {


    font-family: Arial, sans-serif;


    background:#f5f5f5;


    padding:20px;


}



h1 {


    text-align:center;


}



.visitorGrid {


    display:grid;


    grid-template-columns:


    repeat(2,1fr);


    gap:20px;


    max-width:600px;


    margin:auto;


}



.visitor-card {


    background:white;


    border-radius:25px;


    padding:15px;


    text-align:center;


    box-shadow:

    0 8px 20px rgba(0,0,0,0.12);


}



.visitorImage {


    width:120px;


    height:120px;


    object-fit:cover;


    border-radius:50%;


}



.visitorGrid h2 {


    margin-bottom:5px;


}

.visitorNumber {

    font-weight:bold;

}


.visitor-card p {

    margin:6px 0;

    font-size:15px;

}

#searchInput{


display:block;


width:80%;

max-width:400px;


margin:20px auto 40px auto;


padding:12px 18px;


font-size:18px;


border-radius:25px;


border:1px solid #ccc;


box-sizing:border-box;


}

.visitor-card h2 {

    margin-bottom:10px;

}


.visitor-card {

    min-height:300px;

}