body {

    margin:0;

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    font-family:Arial,sans-serif;

    background:#f5f5f5;

}




.container {

    background:white;

    padding:40px;

    border-radius:25px;

    text-align:center;

    box-shadow:
    0 10px 30px rgba(0,0,0,0.15);

    max-width:400px;

}




h1 {

    font-size:40px;

    margin-bottom:20px;

}



h2 {

    font-weight:normal;

}



p {

    color:#666;

    margin-bottom:30px;

}





.buttons {

    display:flex;

    flex-direction:column;

    gap:15px;

}





button {

    padding:15px;

    font-size:18px;

    border:none;

    border-radius:15px;

    cursor:pointer;

    background:#333;

    color:white;

}





button:hover {

    transform:scale(1.03);

}
#randomOverlay {


    display:none;


    position:fixed;


    top:0;

    left:0;


    width:100%;

    height:100%;


    background:rgba(0,0,0,0.45);


    justify-content:center;


    align-items:center;


    z-index:9999;


}



.randomBox {


    background:white;


    width:85%;


    max-width:350px;


    padding:35px 25px;


    border-radius:30px;


    text-align:center;


    box-shadow:

    0 20px 50px rgba(0,0,0,0.25);


    animation:popup 0.4s ease;


}



.randomIcon {


    font-size:45px;


    margin-bottom:10px;


}



.randomBox h2 {


    margin:10px 0;


    font-size:26px;


}



#randomText {


    color:#777;


    margin:15px 0;


    font-size:17px;


}



#randomName {


    font-size:36px;


    margin:20px 0;


}



.randomLoading {


    font-size:20px;


    animation:pulse 1s infinite;


}



@keyframes popup {


    from{

        transform:scale(0.7);

        opacity:0;

    }


    to{

        transform:scale(1);

        opacity:1;

    }

}



@keyframes pulse {


    50%{

        opacity:0.4;

    }

}

body {
    border: 10px solid red;
}